/* Nav styling */

body {
    font-family: MontSerrat;
}

.navContentLink[aria-expanded='true'] i.fa-bars,
.navContentLink[aria-expanded='false'] i.fa-times
{
    display: none;
}

.nav-menu i{
    color: black !important;
    font-size: 4rem;
    -webkit-text-stroke: 7px white;
}

a:hover {text-decoration: none;}
a {color:#000}


/* Status messages */ 

.status-message-success {
    margin: 10px 0px;
    padding: 10px;
    width: fit-content;
    background: #D9F7C5;
}

/* home page */

.img-home {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    animation: fadein-left 2s;
    -moz-animation: fadein-left  2s; /* Firefox */
    -webkit-animation: fadein-left 2s; /* Safari and Chrome */
    -o-animation: fadein-left  2s; /* Opera */
}

.btn-home {
    animation: fadein-right 2s;
    -moz-animation: fadein-right 2s; /* Firefox */
    -webkit-animation: fadein-right 2s; /* Safari and Chrome */
    -o-animation: fadein-right 2s; /* Opera */
}