.account-info-wrapper i {
    font-size: 2rem;
    margin: 0px 5px;
}

.account-info-wrapper li a{
    box-shadow: 1px 1px 4px 0 #aaa;
    padding: 20px 10px;
    border-radius: 10px;
}

@media screen and (max-width:1200px){
    .account-info-wrapper li {
        margin: 10px 5px !important;
    }
}

.account-info-wrapper li a.active {
    
    transition: box-shadow .15s ease-in;
}

.account-info-wrapper span {
    font-size: 1.2rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    display:flex;
    align-items:center;
    justify-content: center;
    width: 100%;
}

.account-info-wrapper li { margin : 5px 0px;width:100%}

/* -------- registration page ----------- */

