.account-info-wrapper i {
    font-size: 2rem;
    -webkit-text-stroke: 2px white;
}

.account-info-wrapper li a{
    box-shadow: 1px 1px 4px 0 #aaa;
    padding: 20px 10px;
    border-radius: 10px;
}

.account-info-wrapper li a.active {
    box-shadow: 2px 4px 8px 0 #aaa, inset 0.25em 0 0 #000;
    transition: box-shadow .15s ease-in;
}

.account-info-wrapper span {
    font-size: 1.2rem;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.account-info-wrapper li { margin : 5px 0px;}

/* -------- registration page ----------- */

