/* NAVIGATION ------------------------ */


.welcome-msg p { margin: 0; white-space: nowrap;}

/* USER ----- */

.user-link a { margin:0px 5px }
.user-link i { font-size: 2rem; -webkit-text-stroke: 1px white; margin: 0px 5px;}
.user-link .fa-chart-line { -webkit-text-stroke: 2px white }